body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(210, 208, 205);
    margin: 0;
    padding: 0;
    text-align: center;
}

h2{
    text-align: center;
    background-color: burlywood;
    padding: 5px;
}
h1{
    margin: 20px 0px;
}

.containar{
    display: flex;
    margin: 20px auto;
    border: 1px solid;
    padding: 5px;
}

.nowrap{
    flex-wrap: nowrap;
}

.wrap{
    flex-wrap: wrap;
}

.wrap-reverse{
    flex-wrap: wrap-reverse;
}

.item{
    width: 150px;
    height: 150px;
    background-color: #f4f4f4;
    margin: 10px;
    line-height: 150px;
    font-size: 30px;
    border-radius: 10px;
}